@import 'variable.sass'
@import 't-header'
@import '~bootstrap/scss/bootstrap'
$material-icons-font-path: '~material-icons/iconfont/'
@import '~material-icons/iconfont/material-icons.scss'
body
    background-color: #BAFFCD;
.sign
    border-radius: 20px
    background-color: #FFF;
    margin: 130px 0;
.head-todo-list
    font-family: $todoListHeadFontFamily
    font-size:  $todoListHeadFontSize
    font-weight: $Font-weightBold
    letter-spacing: $todoListHeadLetter-spacing
    color: $todoListHeadColor

.btn-sign
    background-color: $btnSignBack
    border-radius: $btnSignRadius
    color: $btnSignColor    
    font-weight: $Font-weightBold
    font-size: $btnSignF-size
    &:hover
        color: #ffffff
        background-color: $btnHoverBack

.forgot-pass-link
    font-size: $mainFontSize
    color: $forgotLinkColor

#app
    font-family: $mainFontFamily

.invalid-login

.main-item-head
    margin-top: 40px;
    font-weight: $Font-weightBold
    font-size: 30px

label
    font-weight: $Font-weightBold
    font-size: 13px
    margin-bottom: 0

.link
    font-size: $mainFontSize
    margin-bottom: 40px
    margin-top: 25px

.t-sign-up-item
    .needs-validation
        .link
            &:nth-child(5)
                display: block;
                text-align: center; 
                max-width: 330px; 
                width: 100%; 
                margin: 0 auto 30px !important;;

.select-head
    background: #91ACC6
    display: flex
    align-items: center
    justify-content: center
.form-group
    margin-bottom: 52px
    &:nth-child(3)
        margin-bottom: 44px

        
.select-head p, i
    &:hover
        cursor: pointer

.options
    background: #F8F8F8

.option p   
    border-bottom: 1px solid rgba(196, 196, 196, 0.4)
    text-align: left

.option
    &:hover
        cursor: pointer
        background: rgba(145, 172, 198, 0.4)
    


// body, html
//     height: 100%


